In [33]:
import pandas as pd

data = pd.read_csv('data/diagnoses_10.csv')

# Drop the first column
data = data.iloc[:, 1:]
data = data.iloc[:, :-4] # Drop the other classes, keeping first 2
data.head()

        ID  Dx_426177001  Dx_426783006
0  JS00001         False         False
1  JS00002          True         False
2  JS00004          True         False
3  JS00005         False         False
4  JS00006          True         False

In [34]:
# For first class, calculate the 50/50 count
true_count = data['Dx_426177001'].sum()
false_count = len(data) - true_count
print(f"True count: {true_count}")
print(f"False count: {false_count}")

# Adjust the dataset based on the true_count and false_count
if true_count > false_count:
    # If there are more True values than needed, randomly sample rows to remove
    true_rows = data[data['Dx_426177001']].sample(n=(true_count - false_count), random_state=42)
    data = data.drop(true_rows.index)
elif true_count < false_count:
    # If there are less True than needed, sample False rows to remove
    false_rows = data[~data['Dx_426177001']].sample(n=(false_count - true_count), random_state=42)
    data = data.drop(false_rows.index)

true_count_after = data['Dx_426177001'].sum()
false_count_after = len(data) - true_count_after
print(f"True count after adjustment: {true_count_after}")
print(f"False count after adjustment: {false_count_after}")
data.shape

True count: 16559
False count: 28593
True count after adjustment: 16559
False count after adjustment: 16559

(33118, 3)

In [37]:
data.to_csv('data/diagnoses_cut.csv', index=False)